<!-- ================= NAVBAR ================= -->
<nav class="navbar">
  <div class="left">
    <img src="assets/images/tasklogo.png" alt="logo" class="logo-img" />
    <span class="app-name">Task</span>

    <div class="filter-wrapper">
      <mat-icon
        class="material-symbols-outlined"
        (click)="toggleDropdown()"
        [class.filter-active]="isDropdownOpen || (currentFilterStatus$ | async)"
        title="Lọc công việc"
      >
        filter_list
      </mat-icon>

      <div class="filter-menu" [class.open]="isDropdownOpen">
        <app-filter></app-filter>
      </div>
    </div>

    <mat-icon class="view-icon" (click)="toggleView()">view_module</mat-icon>
    <app-view-popup *ngIf="isViewOpen" (close)="isViewOpen = false"></app-view-popup>
  </div>

  <div class="right">
    <mat-icon class="notification-icon">notifications</mat-icon>
    <!-- ✅ Nếu có avatar thì hiển thị -->
    <img
      *ngIf="user"
      [src]="avatarUrl"
      class="avatar"
      alt="avatar"
      (click)="toggleAccountPopup()"
    />

    <mat-icon *ngIf="!user" class="avatar-icon">account_circle</mat-icon>
    <app-account-popup
      [visible]="isPopupVisible"
      [position]="'navbar'"
      [user]="user"
      [avatarUrl]="avatarUrl"
      (onClose)="closePopup()"
      (onLogout)="logout()"
      (onCreateWorkspace)="openCreateWorkspace()"
    ></app-account-popup>

    <app-create-workspace
      *ngIf="navbarCreateWorkspaceVisible"
      (close)="navbarCreateWorkspaceVisible = false"
    ></app-create-workspace>

  </div>
</nav>
