<header class="header">
  <!-- Logo -->
  <div class="left">
    <img src="assets/images/tasklogo.png" alt="logo" class="logo-img">
    <span class="app-name">Task</span>
  </div>

  <!-- Thanh tìm kiếm -->
  <div class="center">
    <div class="search-bar">
      <mat-icon class="search-icon">search</mat-icon>
      <input type="text" placeholder="Tìm kiếm" class="search-input" />
    </div>
  </div>

  <!-- Các nút bên phải -->
  <div class="right">
    <mat-icon class="notification-icon">notifications</mat-icon>
    <mat-icon class="avatar-icon">account_circle</mat-icon>
  </div>

</header>
