<header class="header">
  <div class="left">
    <img src="assets/images/tasklogo.png" alt="logo" class="logo-img" />
    <span class="app-name">Task</span>
  </div>

  <div class="center">
    <div class="search-bar">
      <mat-icon class="search-icon">search</mat-icon>
      <input
        type="text"
        placeholder="Tìm kiếm"
        class="search-input"
        [(ngModel)]="searchText"
        (keyup.enter)="onSearch()"
      />


    </div>
  </div>

  <div class="right">
    <mat-icon class="notification-icon" (click)="toggleNotification()">
      notifications
    </mat-icon>

    <!-- POPUP THÔNG BÁO -->
    <div class="notification-popup" *ngIf="showNotification">
      <p *ngFor="let n of notifications">{{ n }}</p>

      <p *ngIf="notifications.length === 0" class="empty">
        Không có thông báo
      </p>
    </div>

    <!-- Avatar -->
    <img
      *ngIf="user"
      [src]="avatarUrl"
      class="avatar"
      alt="avatar"
      (click)="logout()"
    />
    <mat-icon *ngIf="!user" class="avatar-icon">account_circle</mat-icon>
  </div>
