<div class="overlay" (click)="closePopup()"></div>

<div class="popup" (click)="$event.stopPropagation()">
  <div class="popup-header">
    <p class="title">View</p>
    <mat-icon class="close-icon" (click)="closePopup()">close</mat-icon>
  </div>

  <!-- View List -->
  <div
    class="view-option"
    *ngFor="let view of views"
    [class.active]="view.name === currentView"
    [class.locked]="view.locked"
    (click)="selectView(view)"
  >
    <mat-icon>{{ view.icon }}</mat-icon>
    <span>{{ view.name }}</span>
  </div>
</div>
