.login-container {
  display: flex;
  height: 100vh;
  background-color: #f7fdfd;
  font-family: 'Inter', sans-serif;
}

/* Cột trái */
.login-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 65%;
  background-color: #E3E1FC;

}

.login-left img {
  width: 70%;
  max-width: 500px;
  object-fit: contain;
}

/* Cột phải */
.login-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35%;
  gap: 10px;
  padding: 2rem;
  position: relative;
  background: ghostwhite;
}

/* Hộp nội dung */
.login-box {
  text-align: center;
  padding: 4px;
  max-width: 380px;
}

.logo {
  width: 64px;
  height: 64px;
  margin-bottom: 20px;
}

.brand {
  color: mediumpurple;
  font-weight: 600;
}

.subtitle {
  color: #666;
  margin-bottom: 30px;
  font-size: 14px;
}

/* Nút Google */
.google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: #E3E1FC;
  color: black;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.google-btn:hover {
  background: #E3E1FC;
}

.google-btn img {
  width: 20px;
  height: 20px;
}
