.app-container {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden; /* ✅ chặn tràn ngang */
}
app-header {
    height: 55px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    border-bottom: 4px solid var(--h-accent-contrast);
}
app-navbar {
    height: 100%;
    width: 100%;
}
app-sidebar {
    width: 280px;
    height: 100%; /* chiếm hết height của app-container */
}
.content {
  width: 100%;
  overflow-y: auto;
  opacity: 0.9;
  background: var(--h-header-bg);
  padding: 0 100px;
  color: var(--h-text-color);
}
/* src/styles.css */
:host {
  --h-header-bg: var(--header-bg, #1F1F21);
  --h-text-color: var(--text-color, #ffffff);
  --h-search-bg: var(--search-bg, #EEEEEE);
  --h-muted: var(--muted, #343439);
  --h-hover-bg: rgba(0,0,0,0.06);   /* Trello primary blue */   /* slightly darker for hover/active */
  --h-accent-contrast: #ffffff;
}
:root {
  --app-bg: #ffffff;
  --text-color: #ffffff;
  --header-bg: #f5f5f7;
  --search-bg: #EEEEEE;
  --accent: #005f0c;
}

.dark-theme {
  --app-bg: #0e0e10;
  --text-color: #EEEEEE;
  --header-bg: #1F1F21;
  --search-bg: #2a2a2c;
  --accent: #1c7e28;
}

html, body {
  height: 100%;
  margin: 0;
  background-color: var(--app-bg);
  color: var(--text-color);
  transition: background-color 0.2s, color 0.2s;
}
