<!-- app.component.html -->

<!-- Nếu KHÔNG phải trang login/register/forgot-password -->
<ng-container *ngIf="!isAuthPage; else authPage">

  <app-header *ngIf="!isTaskPage"></app-header>
  <app-navbar *ngIf="isTaskPage"></app-navbar>

  <div class="app-container">
    <app-sidebar></app-sidebar>
    <main class="content">
      <router-outlet></router-outlet>
    </main>
  </div>

</ng-container>

<!-- Layout riêng cho trang đăng nhập -->
<ng-template #authPage>
  <router-outlet></router-outlet>
</ng-template>
