.app-container {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden; /* ✅ chặn tràn ngang */
}
app-header {
    height: 55px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}
app-navbar {
    height: 100%;
    width: 60px;
}
app-sidebar {
    width: 280px;
    height: 100%; /* chiếm hết height của app-container */
}
.content {
  width: 100%;
  overflow-y: auto;
  background: #f5f7fb;
  padding: 0 12px;
}
