/* css */
.home-container {
  padding: 16px;
}

.home-stats {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.create-card {
  border: 2px;
  cursor: pointer;
  opacity: 0.95;
}
.create-board {
  width: 220px;
  height: 120px;
  background-color: #ffffff;
  border: 2px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  color: #555;
  transition: all 0.25s ease;
  cursor: pointer;
}

.create-board:hover {
  background-color: #f9f9f9;
  border-color: #888;
  transform: scale(1.05);
}
