.home-container {
  padding: 10px 10px;
}
.h2{
  font-size: 18px;
  font-weight: 600;
  color: white;
}
.home-stats{
  display: flex;
  color: #222;
  font-size: 16px;
  margin-top: 20px;
  gap: 30px;
}
