/* css */
.home-container {
  padding: 16px;
}

.home-stats {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.create-card {
  border: 2px;
  cursor: pointer;
}
.create-board {
  width: 220px;
  height: 120px;
  background-color: #ffffff;
  border: 2px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  color: #555;
  cursor: pointer;
}

.create-board:hover {
  background-color: #cccccc;
  border-color: #888;
}
