<app-header (search)="onSearch($event)"></app-header>


<div class="home-container">
  <h2>KHÔNG GIAN LÀM VIỆC</h2>

  <div class="home-stats">
    <ng-container *ngFor="let c of filteredCards; let i = index">
      <!-- Nút Tạo bảng mới -->
      <div *ngIf="normalizeTitle(c.title) === CREATE_TITLE; else normalCard"
           class="create-board"
           (click)="openPopup()">
        <span>Tạo bảng mới</span>
      </div>

      <!-- Card bình thường -->
      <ng-template #normalCard>
        <div class="card-wrapper">
          <app-card
            [title]="c.title"
            [color]="c.color"
            [background]="c.background ?? ''"
            (cardClick)="onCardClick(c, i)"
            (delete)="deleteCard(i)">
          </app-card>
        </div>
      </ng-template>
    </ng-container>
  </div>


  <!-- popup create board -->
  <app-task-description
    *ngIf="showPopup"
    (close)="closePopup()"
    (addBoard)="addNewBoard($event)">
  </app-task-description>

</div>
