<div class="sidebar-container">
  <div
    class="menu-item"
    routerLink="/home"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: false }"
  >
    <mat-icon class="menu-icon">home</mat-icon>
    <span class="menu-text">Home</span>
  </div>
  <div class="menu-item"
       routerLink="/board"
       routerLinkActive="active">
    <mat-icon class="menu-icon">dashboard</mat-icon>
    <span class="menu-text">Board</span>
  </div>

  <div class="menu-item"
       routerLink="/all-task"
       routerLinkActive="active">
    <mat-icon class="menu-icon">task</mat-icon>
    <span class="menu-text">All my task</span>
  </div>



</div>
