
.sidebar-container {
  width: 280px;
  height: 100%;
  background-color: #6d60bc;
  color: white;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 50px 20px 20px;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 10px;
  cursor: pointer;
  width: 260px;
  margin-left: -20px;
  transition: background-color 0.2s;
}

.menu-item:hover,
.menu-item.active {

  background-color: #5a4ea3;
}
